*/*.avi
results/
results-*/
*.asv

hedva/

resources.rar

resources/

‏‏ImpulseCheckingVids/
drive-download-20220823T200215Z-001.zip

*.fig

3dGabor/pyr.mat

Workflow/שיטות לסקר ספרות/

Workflow/שיטות לסקר ספרות.rar
